.pragmatic_logo {
    font-family: 'Lora', serif;
}

.pragmatic_footer {
    text-align: center;
    margin-top: 2rem;
}



.pragmatic_header_nav{
    margin: 0 0.5rem;
}

.pragmatic_header_navbar{
    margin: 1rem 0;
}

