{% extends 'base.html' %}
{% block content %}

    {% if routine_list %}
        <div class="container">
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">루틴 이름</th>
                    <th scope="col">내용</th>
                    <th scope="col">시간</th>
                    <th scope="col">색</th>
                  </tr>
                </thead>
                <tbody>

                {% for routine in routine_list %}
                    <a href="#">
                        <!-- update 부분 -->
                        {% include 'snippets/card.html' with routine=routine %}
                    </a>
                {% endfor %}
                </tbody>
            </table>
            <div style="text-align: center;">
                <button class="btn-success mb-5"><a href="{% url 'routineapp:create' %}">Routine 만들기</a></button>
            </div> 
        </div>
    {% else %}
        <div class='container text-center mt-5 mb-5'>
            <h1 class="mb-3">Routine이 없어요😢</h1>
            <div style="text-align: center;">
                <button class="btn-success "><a href="{% url 'routineapp:create' %}">Routine 만들기</a></button>
            </div> 
        </div>

    {% endif %}



{% endblock %}
