{% extends 'base.html' %}
{% block content %}
<script language='javascript'>
    function call()
    {
     if(document.getElementById("amount").value && document.getElementById("buy_price").value){
      document.getElementById('amount_buy').value =parseInt(document.getElementById('amount').value) * parseInt(document.getElementById('buy_price').value);
     }
    }
    function call2()
    {
     if(document.getElementById("amount").value && document.getElementById("sell_price").value){
      document.getElementById('amount_sell').value =parseInt(document.getElementById('amount').value) * parseInt(document.getElementById('sell_price').value);
     }
    }
    function call3()
    {
     if(document.getElementById("amount_buy").value && document.getElementById("amount_sell").value){
      document.getElementById('result').value =parseInt(document.getElementById('amount_sell').value) - parseInt(document.getElementById('amount_buy').value);
     }
    }
</script>
<div class="container">
    <h5 class="my-3 border-bottom pb-2">내 종목 등록하기</h5>
    <form action="" method="post">
        {% csrf_token %}
        <!-- 오류표시 start -->
        {% if form.errors %}
            <div class="alert alert-danger" role="alert">
            {% for field in form %}
                {% if field.errors %}
                <strong>{{ field.label }}</strong>
                {{ field.errors }}
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
        <!-- 오류표시 end -->

        <div class="col-3">
            <label for="buy_date">날짜</label>
            <input type="date" name="date" id="date" min="0" class="form-control" value="{{ form.date.value|default_if_none:'' }}">
        </div>
        
        <div class="col-3">
            <label for="stock_name">종목명</label>
            {% if jusik.present_price %}
            <div>{{ jusik.present_price }}</div>
            {% endif %}
            <a href="{% url 'jusik:find' %}">종목 찾기</a>
            {% if code %}
            <div>{{ name }}</div>
            <input type="hidden" name="stock_name" id="stock_name" class="form-control" value="{{ name }}"/>

            <div>{{ code }}</div>
            <input type="hidden" name="stock_code" id="stock_code" class="form-control" value="{{ code }}"/>

            <!-- <input type="text" name="stock_name" id="stock_name" min="0" class="form-control" value="{{ form.stock_name.value|default_if_none:'' }}" > -->

            {% endif %}
        </div>
        <div class="col-3">
            <label for="amount">수량</label>
            <input type="number" name="amount" id="amount" min="1" class="form-control" value="{{ form.amount.value|default_if_none:'' }}" onchange="call()" onchange="call2()">
        </div>
        <div class="col-3">
            <label for="buy_price">매수가격</label>
            <input type="number" name="buy_price" id="buy_price" min="0" class="form-control" value="{{ form.buy_price.value|default_if_none:'' }}" onchange="call()" >
        </div>

        <div class="col-3">
            <label for="amount_buy">총 매수가격</label>
            <input type="hidden" name="amount_buy" id="amount_buy" min="0" class="form-control" value="{{ form.amount_buy.value|default_if_none:'' }}" onchange="call3()">
        </div>

        <div class="col-3">
            <label for="sell_price">매도가격</label>
            <input type="number" name="sell_price" id="sell_price" min="0" class="form-control" value="{{ form.sell_price.value|default_if_none:'' }}" onchange="call2()">
        </div>

        <div class="col-3">
            <label for="amount_sell">총 매도가격</label>
            <input type="hidden" name="amount_sell" id="amount_sell" min="0" class="form-control" value="{{ form.amount_sell.value|default_if_none:'' }}" onchange="call2()" onchange="call3()">
        </div>

        <div class="col-3">
            <label for="result">총 수익</label>
            <input type="number" name="result" id="result" class="form-control" value="{{ form.result.value|default_if_none:'' }}" onchange="call3()">
        </div>
        <br>
        <br>

        <button type="submit" class="btn btn-primary">저장하기</button>
    </form>
</div>


{% endblock %}