
{% extends 'base.html' %}
{% block content %}
{% for item in itmes %}

{% endfor %}

<div class="container">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <form action="{% url 'jusik:search' %}" class="col-12 col-md-10 col-lg-8 btn btn-sm btn-outline-secondary">
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="종목을 입력해주세요">
                        </div>
                        <!--end of col-->

                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit" id='btn'>검색</button>
                        </div>
                        <!--end of col-->
                    </form>
                </div>
            </form>
        </div>
        <!--end of col-->
        {% if arr %}
        {% for i in arr %}
            <div class="col-12 col-md-10 col-lg-8">{{ i }}</div>
        {% endfor %}
        {% else %}
            <div class="col-12 col-md-10 col-lg-8">종목이 없습니다.</div>
        {% endif %}

    </div>
</div>
{% endblock %}