
{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <table class="table">
        <thead>
        <tr class="text-center thead-dark">
            <th>날짜</th>
            <th style="width:10%">종목명</th>
            <th >체결수량</th>
            <th>매입단가</th>
            <th>총 매입금액</th>
            <th>매도단가</th>
            <th>총 매도금액</th>
            <th>실현손익</th>
            <th>현재가</th>
        </tr>
        </thead>
        <tbody>
        <!-- 목록들 보여주기  -->
        {% if jusik_list %}
        {% for jusik in jusik_list %}
        <tr class='text-center'>
            <td>{{ jusik.date }} </td>
            <td><a href="{% url 'jusik:detail' jusik.id %}">{{ jusik.stock_name }}</a></td>
            <td>{{ jusik.amount }}</td> 
            <td>{{ jusik.buy_price }}</td>
            <td>{{ jusik.amount_buy }}</td>
            <td>{{ jusik.sell_price }}</td>
            <td>{{ jusik.amount_sell }}</td>
            <td>{{ jusik.result }}</td>
            <td>{{ jusik.present_price }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">입력된 종목이 없습니다.</td>
        </tr>
        {% endif %}
        </tbody>
    </table>
    <!-- 페이징 부분 -->
    <ul class="pagination justify-content-center">
        <li class="page-item">

        </li>
    </ul>
    <!-- 페이징 처리 끝 -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <a href="{% url 'jusik:create' code='558290' %}" class="btn btn-primary">
            내 종목 등록하기
        </a>
    </div>

{% endblock %}

