
{% extends 'base.html' %}
{% block content %}
<h1 class="text-center display-3">
    {{ jusik.stock_name }}
</h1>
<!-- 여기다가는 표 넣기(나중에) -->


<table class="table table-striped text-center" style="width:40%; margin-left: auto; margin-right: auto;">
  <tbody>
    <tr>
      <th scope="row">매입가</th>
      <td>{{ jusik.buy_price }} 원</td>
    </tr>
    <tr>
      <th scope="row">총 매입금액</th>
      <td style="font-weight: bold;">{{ jusik.amount_buy }} 원</td>
    </tr>
    <tr>
      <th scope="row">매도가</th>
      <td>{{ jusik.sell_price }} 원</td>
    </tr>
    <tr>
      <th scope="row">총 매도금액</th>
      <td style="font-weight: bold;">{{ jusik.amount_sell }} 원</td>
    </tr>
    <tr>
      <th scope="row">수량</th>
      <td>{{ jusik.amount }} 주</td>
    </tr>
    <tr>
      <th scope="row">실현손익</th>
      <td><span style="color: #ff0000; font-weight: bold;">{{ jusik.result }}</span> 원</td>
    </tr>

  </tbody>
</table>


{% endblock %}
