
{% extends 'base.html' %}
{% block content %}
<h1 class="text-center display-3">
    {{ jusik.stock_name }}
</h1>
<!-- 여기다가는 표 넣기(나중에) -->


<table class="table table-striped text-center" style="width:40%; margin-left: auto; margin-right: auto;">
  <tbody>
    <tr>
      <th scope="row">매입가</th>
      <td>{{ jusik.buy_price }} 원</td>
    </tr>
    <tr>
      <th scope="row">매도가</th>
      <td>{{ jusik.sell_price }} 원</td>
    </tr>
    <tr>
      <th scope="row">수량</th>
      <td>{{ jusik.amount }} 주</td>
    </tr>
    <tr>
      <th scope="row">실현손익</th>
      <td><span style="color: #ff0000; font-weight: bold;">{{ jusik.result }}</span> 원</td>
    </tr>

  </tbody>
</table>

<table class="table text-center" style="width:40%; margin-left: auto; margin-right: auto;">
  <tbody>
  <tr>
    <th scope="row">매입단가</th>
    <td>{{ jusik.amount_buy }} 원</td>
  </tr>
  <tr>
    <th scope="row">체결단가</th>
    <td>{{ jusik.amount_sell }} 원</td>
  </tr>
</tbody>
</table>
<div class="my-3 text-center">
  <a href="{% url 'jusik:modify' jusik.id%}" class="btn btn-sm btn-outline-secondary">수정</a>
  <a href="#" class="delete btn btn-sm btn-outline-secondary" data-uri="{% url 'jusik:delete' jusik.id%}">삭제</a>
</div>
{% endblock %}

{% block script %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".delete").on('click', function() {
        if(confirm("정말로 삭제하시겠습니까?")) {
            location.href = $(this).data('uri');
        }
    });
});
</script>
{% endblock %}

