<!-- header 부분 -->
<div class="miracle_header">
    <div>
        <h1 class="miracle_logo">☀️ Miracle Morning ☀️</h1>
    </div>
    <div class="miracle_header_navbar">
        <a href="{% url 'rutineapp:list' %}" class="miracle_header_nav">
            <span>Rutines</span>
        </a>
        <a href="#" class="miracle_header_nav">
            <span>Projects</span>
        </a>
        <a href="#" class="miracle_header_nav">
            <span>Subscription</span>
        </a>
        {% if not user.is_authenticated %}
            <a href="{% url 'accountapp:login' %}" class="miracle_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:create' %}" class="miracle_header_nav">
                <span>sign up</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="miracle_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}" class="miracle_header_nav"> 
                <span>logout</span>
            </a>
        {% endif %}

    </div>
</div>