{% extends 'base.html' %}
{% block content %}

    {% if rutine_list %}
        <div class="container">
            <table class="table">
                <thead>
                  <tr class="text-center">
                    <th scope="col">루틴 이름</th>
                    <th scope="col">내용</th>
                    <th scope="col">시간</th>
                    <th scope="col">색</th>
                  </tr>
                </thead>
                <tbody>

                {% for rutine in rutine_list %}
                    <a href="#">
                        <!-- update 부분 -->
                        {% include 'snippets/card.html' with rutine=rutine %}
                    </a>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="text-center">
            <h1>No Rutines!!</h1>
        </div>

    {% endif %}

    <div style="text-align: center;">
        <a href="{% url 'rutineapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-2" style="color:white">
        Create Rutines
        </a>
    </div>    

{% endblock %}
