{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>상품을 생산합니다.</h1>
    <form action="{% url 'products:create' %}" method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <label>상품 이름</label><br>
        <input type="text" name="title"><br><br>

        <label>상품 이미지</label><br>
        <input type="file" name="image"><br><br>

        <label>가격</label><br>
        <input type="number" name="price"><br><br>

        <label>설명</label><br>
        <textarea name='description'></textarea><br>

        <input type="submit" value="등록">
    </form>
</body>
</html>

{% endblock %}
