<!-- header 부분 -->
<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div>
        <a href="{% url 'articleapp:list' %}">
            <span>Articles</span>
        </a>
        <span>nav2</span>
        <span>nav3</span>
        {% if not user.is_authenticated %}
            <!-- ?next 이후 : 현재페이지를 next인자로 넘겨주면서 원래 있었던 자리로 돌아오게 함 -->
            <a href="{% url 'accountapp:login' %}">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:login' %}">
                <span>sign up</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}"> 
                <span>logout</span>
            </a>
        {% endif %}

    </div>
</div>