<!-- header 부분 -->
<div class="pragmatic_header">
    <div>
        <h1 class="pragmatic_logo">Pragmatic</h1>
    </div>
    <div class="pragmatic_header_navbar">
        <a href="{% url 'articleapp:list' %}" class="pragmatic_header_nav">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="pragmatic_header_nav">
            <span>Projects</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="pragmatic_header_nav">
            <span>Subscription</span>
        </a>
        {% if not user.is_authenticated %}
            <!-- ?next 이후 : 현재페이지를 next인자로 넘겨주면서 원래 있었던 자리로 돌아오게 함 -->
            <a href="{% url 'accountapp:login' %}" class="pragmatic_header_nav">
                <span>login</span>
            </a>
            <a href="{% url 'accountapp:login' %}" class="pragmatic_header_nav">
                <span>sign up</span>
            </a>
        {% else %}
            <a href="{% url 'accountapp:detail' pk=user.pk %}" class="pragmatic_header_nav">
                <span>MyPage</span>
            </a>
            <a href="{% url 'accountapp:logout' %}" class="pragmatic_header_nav"> 
                <span>logout</span>
            </a>
        {% endif %}

    </div>
</div>