{% extends 'base.html' %}

{% block content %}
<div>
    <div style="text-align: center; max-width: 500px; margin: 4rem auto;">
        <h1>
            {{ target_feed.title }}
        </h1>
        <h5>
            {{ target_feed.writer.nickname }}
        </h5>
        <hr>
        
        <img src="{{ target_feed.image.url }}" alt="" style="width:100%; border-radius: 1rem; margin: 2rem 0;">

        <div class="text-left">
            {{ target_feed.content | safe }}
        </div>
        {% if target_feed.writer == user %}
        <a href="{% url 'feedlist:update' pk=target_feed.pk %}" class="btn btn-primary rounded-pill col-3">
            수정하기
        </a>
        <a href="{% url 'feedlist:delete' pk=target_feed.pk %}" class="btn btn-danger rounded-pill col-3">
            삭제하기
        </a>
        {% endif %}
        <hr>
        <!-- comment가 있는 경우에 나오는 화면 -->
        {% for comment in target_feed.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment %}
        {% endfor %}
        {% include 'commentapp/create.html' with feedlist=target_feed %}
    </div>
</div>


{% endblock %}
