{% extends "base.html" %}
{% block title %} blog/archive_year.html {% endblock %}
{% block content %}

<h1>post archives for {{ year|date:"Y"}} </h1>

{% for date in date_list %}
<a href="{% url 'blog:post_month_archive' year|date:'Y' date|date:'b' %}">{{ date|date:"F" }}</a>
{% endfor %}
<br><br>

<div>
    <ul>
        {% for post in object_list %}
        <li>{{ post.modify_dt|date:"Y-m-d"}}</li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
    </ul>
</div>