{% extends "base.html" %}
{% block title %} blog/archive.html {% endblock %}
{% block content %}

<h1>archive {% now "N d, Y" %}</h1>

    {% for date in date_list %}
    <a href="{% url 'blog:post_year_archive' date|date:'Y' %}">year {{date|date:'Y'}}</a>
    {% endfor %}
<br><br>

<div>
    <ul>
        {% for post in object_list %}
        <li>{{ post.modify_dt|date:"Y-m-d" }}</li>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        {% endfor %}
    </ul>

</div>
{% endblock %}
