{% extends 'base.html' %}
{% block content %}
{% if isRoutinein %}
    <div class="container">
        <br>
        <form method="POST">
        {% csrf_token %}
        <div class="form form-table container w-25">
            {{ form }}
            <button type="submit" class="btn btn-info right"> 확인 </button>
        </div>
        </form>
    {% if pk %}
        <a href="{% url 'calendarapp:delete' pk=pk %}" class="btn btn-danger rounded-pill">
            삭제하기
        </a>
    {% endif %}
    </div>
{% else %}
    <div class='container text-center mt-5 mb-5'>
        <h1 class=" mb-3">Routine이 없어요😢</h1>
        <button class="btn-success"><a href="{% url 'routineapp:create' %}">Routine 만들기</a></button>
    </div>
{% endif %}
{% endblock %}