<!-- header 부분 -->
<div class="eatcat_header">
    <div>
        <h1 class="eatcat_logo">☀️ eatcat ☀️</h1>
    </div>
    <div class="eatcat_header_navbar">
        <a href="#" class="eatcat_header_nav">
            <span>Community</span>
        </a>

        </a>
        <a href="#" class="eatcat_header_nav">
            <span>Info</span>
        </a>
        {% if not user.is_authenticated %}
            <a href="#" class="eatcat_header_nav">
                <span>login</span>
            </a>
            <a href="#" class="eatcat_header_nav">
                <span>sign up</span>
            </a>
        {% else %}
            <a href="#" class="eatcat_header_nav">
                <span>MyPage</span>
            </a>
            <a href="#" class="eatcat_header_nav"> 
                <span>logout</span>
            </a>
        {% endif %}

    </div>
</div>