{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <br>
        <div class="outer">
            
            <a class="btn left btn-light " href='{% url "calendarapp:calendar" %}?{{ prev_month }}'><span>이전 달</span> </a>
            <a class="btn btn-success center" href="{% url 'calendarapp:input' %}">안녕</a>
            <a class="btn btn-light right" href="{% url 'calendarapp:calendar' %}?{{ next_month }}"><span>다음 달</span> </a>
        </div>



    </div>
    <div>
        {{ calendar }}
    </div>
    <div class="container">

    </div>

{% endblock %}


